@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: "Open Sans", "Roboto", "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
}

header {
    padding: 10px 0;
}

header .topHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 20px 0;
}

header .topHeader .topHeaderImg img {
    width: 300px;
}

header .topHeader .topHeaderLink {
    width: 40%;
    text-align: right;
}

header .topHeader .topHeaderLink a {
    font-size: 1rem;
    color: #3b6e8f;
    display: inline-block;
    margin: 8px 12px;
}

header .topHeader .topHeaderLink a:hover {
    color: #af5607;
}

header .topHeader .topHeaderLink a svg,
header .topHeader .topHeaderLink a i {
    color: #af5607 !important;
}

header .bottomHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: right;
}

header .bottomHeader .bottomHeaderLink {
    width: 60%;
}

header .bottomHeader .bottomHeaderLink a {
    color: #3b6e8f;
    font-size: .9rem;
    margin: 5px 20px;
    display: inline-block;
}

header .bottomHeader .bottomHeaderLink a svg,
header .bottomHeader .bottomHeaderLink a i {
    color: #af5607;
}

header .bottomHeader .bottomHeaderExtra {
    font-size: 1.8rem;
}

header .bottomHeader .bottomHeaderExtra i,
header .bottomHeader .bottomHeaderExtra svg {
    display: inline-block;
    margin: 0 6px;
    color: #af5607;
}

header .bottomHeader .bottomHeaderExtra button {
    padding: 12px 30px;
    text-align: center;
    color: #ffffff;
    background: #af5607;
}

header .bottomHeader .bottomHeaderExtra button:hover {
    background: #7b3c05;
}

main {
    width: 100%;
    margin: 10px auto;
    padding: 30px 0;
    background: #f3f4f4;
}

main .mainForm {
    width: 95%;
    background: #ffffff;
    margin: 5px auto;
    padding: 5px 5px;
}

main .mainForm p {
    font-size: 1rem;
    font-weight: 500;
    margin: 20px 0 0 12px;
}

main .mainForm p a {
    color: #af5607;
}

main .mainForm form {
    margin: 40px 0 40px 12px;
    width: 40%;
}

main .mainForm form label {
    font-weight: 300;
    font-size: .8rem;
    margin: 3px 0;
    display: block;
}

main .mainForm form input {
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 1px solid #7b3c05;
    padding: 4px 0 6px 0;
    width: 100%;
    margin: 2px 0 20px;
    background: transparent;
}

main .mainForm form .mainFormExtra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

main .mainForm form a {
    text-align: right;
    display: inline-block;
    width: 100%;
    color: #3b6e8f;
    margin: 20px 0;
    font-size: 1rem;
}

main .mainForm form .mainFormExtra a {
    display: inline-block;
    font-size: .9rem;
    font-weight: 400;
    width: auto;
    color: #af5607;
    margin: 5px 20px;
}

main .mainForm form .mainFormExtra button {
    background: #af5607;
    color: #ffffff;
    padding: 8px 30px;
    text-align: center;
    font-size: 1.2rem;
}

main .mainFormExtraDiv {
    margin: 30px auto;
    width: 95%;
    border-top: 1px solid #CCD3D8;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #2d4452;
}

main .mainFormExtraDiv p {
    font-weight: 300;
    font-size: 1.8rem;
    padding-left: 30px;
    margin: 12px 0;
}

main .mainFormExtraDiv ul {
    padding-left: 30px;
}

main .mainFormExtraDiv li {
    font-size: .9rem;
    font-weight: 200;
    margin: 8px 0;
}

main .mainFormExtraDiv .mainFormExtraDivRight {
    border-left: 1px solid #CCD3D8;
    padding-bottom: 30px;
}

footer .footerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: 5px auto;
}

footer .footerFlex img {
    width: 30px;
    display: inline-block;
    margin: 5px 3px;
    align-self: center;
}

footer .footerFlex .footerFlexLink {
    text-align: right;
}

footer .footerFlex a {
    color: #3b6e8f;
    font-size: .9rem;
    display: inline-block;
    margin: 5px 4px;
}

footer .footerFlex a svg,
footer .footerFlex a i {
    color: #af5607;
}

footer .footerCopy {
    margin: 30px auto;
    text-align: right;
    width: 95%;
    font-weight: 300;
    font-size: .7rem;
}

@media (max-width: 600px) {
    header .topHeader .topHeaderLink {
        display: none;
    }

    header .bottomHeader .bottomHeaderLink {
        display: none;
    }

    main {
        background: #f3f4f4;
    }

    main .mainForm {
        background: #ffffff;
        width: 90%;
    }

    main .mainForm form {
        width: 90%;
    }

    main .mainForm form input {
        width: 100%;
    }

    main .mainForm form .mainFormExtra a {
        display: none;
    }

    main .mainFormExtraDiv>* {
        width: 45%;
    }

    main .mainFormExtraDiv p {
        font-size: 1.2rem;
    }

    main .mainFormExtraDiv ul {
        padding-left: 30px;
    }

    main .mainFormExtraDiv li {
        font-size: .8rem;
    }

    footer .footerFlex {
        flex-direction: column;
    }
}