@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    color: #464646;
    font-family: 'Overpass', sans-serif;
}

.floating-divider {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #222222a4;
    margin-left: -200%;
    transition: all .6s;
}

.floating-divider.active {
    margin-left: 0;
}

.floating-island {
    background: #ffffff;
    width: 40%;
    display: block;
    margin: 20px auto;
    margin-left: 30%;
    position: fixed;
    text-align: center;
    align-self: center;
    border-radius: 6px;
    transition: all .6s;
    margin-top: -200vh;
}

.floating-island.active {
    margin-top: 10px;
}

.floating-island .floating-island-header {
    background: #ffc11e;
    padding: 12px;
    margin-bottom: 20px;
    color: #ffffff;
}

.floating-island .floating-island-header h3 {
    font-size: 28px;
    font-weight: 600;
}

.floating-island .floating-island-header p {
    font-size: 18px;
}

.floating-island .floating-island-body {
    padding: 12px;
}

.floating-island .floating-island-body img {
    width: 30%;
}

.floating-island .floating-island-body h3 {
    font-size: 28px;
}

.floating-island .floating-island-body .import-type img {
    display: block;
    width: 60%;
    padding: 5px;
    margin: 10px auto;
}

.floating-island .floating-island-body .import-type .import-selection {
    display: flex;
    justify-content: space-evenly;
}

.floating-island .floating-island-body .import-type .import-selection p {
    cursor: pointer;
    padding: 10px;
    border-bottom: thin solid #ffc11e;
}

.floating-island .floating-island-body .import-type .import-selected label {
    padding: 2px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-align: left;
    margin: 6px auto;
}

.floating-island .floating-island-body .import-type .import-selected textarea {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    resize: none;
    background: transparent;
    border-bottom: 2px solid #ffc11e;
    display: block;
    margin: 2px auto;
    width: 80%;
}

.floating-island .floating-island-body .import-type .import-selected button {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background: #ffc11e;
    border: 2px solid #ffc11e;
    display: block;
    margin: 12px auto;
    width: 40%;
    color: #ffffff;
    border-radius: 4px;
}

.floating-island .floating-island-body .import-type .import-selected button:hover {
    background: #ffffff;
    border: 2px solid #ffc11e;
    color: #ffc11e;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 3px 5px #ebebebe0;
}

header .headerName {
    width: 20%;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

header .headerName img {
    width: 50px;
}

header .headerbtn {
    text-align: right;
    width: 50%;
    padding: 10px;
}

header .headerbtn a {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 12px 20px;
    display: inline-block;
    margin: 10px 0;
    border-radius: 5px;
    background: #ffc11e;
}

main {
    padding: 8vh 0;
}

main .homeHeader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto;
}

main .homeHeader .homeHeadertext {
    width: 40%;
    padding: 20px 0;
    margin: 10px 0;
}

main .homeHeader .homeHeaderimg {
    width: 50%;
    padding: 20px 0;
    margin: 10px 0;
}

main .homeHeader .homeHeaderimg img {
    width: 90%;
}

main .homedark {
    padding: 50px 0;
    background: #262626;
}

main .homedark h3 {
    text-align: center;
    color: #ffffff;
    font-size: 2.4rem;
    margin: 90px auto 10px;
}

main .homedark .homedarkblock {
    width: 75%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

main .homedark .homedarkblock .homedarkblockdiv {
    width: 40%;
    margin: 10px 0;
    padding: 12px 6px;
}

main .homedark .homedarkblock .homedarkblockdiv h4 {
    font-size: 1.3rem;
    margin: 10px 0;
}

main .homedark .homedarkblock .homedarkblockdiv p {
    font-size: 1rem;
    margin: 10px 0;
}

main .homedark .homedarkblock .homedarkblockdiv h5 {
    color: #ffc11e;
    font-size: 1.7rem;
}

main .homedark .homedarkblock .homedarkblockdiv a {
    background: #ffc11e;
    padding: 12px 30px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
}

main .connectActionList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

main .connectActionList a {
    width: 40%;
    display: block;
    padding: 15px 0;
    border-radius: 8px;
    border: 2px solid #ffc11e;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffc11e;
    text-align: center;
    margin: 10px auto;
}

main .connectActionList a.active {
    background: #ffc11e;
    color: #ffffff;
}

main .connectDAppsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    margin: 5px auto;
}

main .connectDAppsList .DApp {
    width: 25%;
    margin: 12px 0;
    text-align: center;
}

main .connectDAppsList .DApp img {
    display: block;
    width: 150px;
    aspect-ratio: 1/1;
    margin: 12px auto;
    border-radius: 50%;
}

main .connectDAppsList .DApp label {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 12px auto;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -3px 5px #ebebebe0;
}

footer .footerURLs {
    width: 30%;
    padding: 20px 0;
    font-size: 1.3rem;
    font-weight: 500;
}

footer .footerURLs a {
    display: inline-block;
    margin: 0 12px;
}

footer .footerCopy {
    width: 50%;
    padding: 20px 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: right;
}

@media (max-width: 600px) {

    .floating-island {
        width: 90%;
        margin-left: 5%;
        overflow-y: scroll;
    }

    header .headerName {
        width: 30%;
    }

    header .headerName {
        font-size: 1.6rem;
    }

    main .homeHeader {
        flex-direction: column-reverse;
    }

    main .homeHeader .homeHeadertext {
        width: 90%;
    }

    main .homeHeader .homeHeaderimg {
        width: 90%;
    }

    main .homedark .homedarkblock {
        flex-direction: column;
    }

    main .homedark .homedarkblock .homedarkblockdiv {
        width: 90%;
    }

    main .connectActionList a {
        width: 80%;
    }

    main .connectDAppsList .DApp {
        width: 50%;
    }

    footer .footerURLs a {
        display: inline-block;
        margin: 0 6px;
    }
}